<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iheanyiekechukwu.later"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/later_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.iheanyiekechukwu.later.activities.MainActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.iheanyiekechukwu.later.activities.ComposeActivity"
            android:label="@string/title_activity_compose"
            android:parentActivityName="com.iheanyiekechukwu.later.activities.AlternateActivity" >
        </activity>
        <activity
            android:name="com.iheanyiekechukwu.later.activities.AlternateActivity"
            android:label="@string/title_activity_alternate"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
